WEB_URL=https://jbap-web-staging-revamp.jbap.com.ph/

BACKOFFICE_URL=https://cdms-staging.jbap.com.ph/wp-admin/login?site=bike&redirect_to=
BASIC_AUTH_USER=Jb@_Ph
BASIC_AUTH_PASS=JbaPhAuction
ADMIN_USER=sysjbap
ADMIN_PASS=Qwer1234@

TEST_SEQUENTIAL=true
