# App URLs
WEB_URL=
BACKOFFICE_URL=

# Basic Auth (HTTP Authentication)
BASIC_AUTH_USER=
BASIC_AUTH_PASS=

# CDMS Admin Credentials
ADMIN_USER=
ADMIN_PASS=

# Settings
TEST_SEQUENTIAL=true
PLAYWRIGHT_HEADLESS=
